body {
	background: #492302;
	font-style: normal;
  height: 100%;
}
html{
  height: 100%;
}
h1 {
	color: #f5be56;
	font: bold 36px/38px Georgia, "Times New Roman", Times, serif;
	margin-left: 30px;
	text-shadow: #5d260d 0 1px 2px;
}
ul {
	color: #f5be56;
	font-size: 25px;
	text-decoration: underline;
}
li {
	color:white;
	margin-left: 42px;
}
#pizzaForm {
	display:none;
  font-weight: bold;
  font-size:25px;
	margin-left:30px;
}
#startPizza {
	margin-left: 40%;
}
#pizzaSize {
	float:left;
  width:30%;
  margin:10px;
}
#pizzaCrust {
  float:left;
  width:30%;
  margin:10px;
}
#pizzaVeggieToppings{
	color: white;
	font-size: 20px;
	float:left;
  width:30%;
  margin-left:5%;
}
#pizzaMeatToppings {
	color: white;
	font-size: 20px;
  float:left;
  width:30%;
  margin-left:5%
}
#pizzaPrice{
	float:left;
	width:30%;
	background-color: white;
	border-radius: 20px;
	margin-left: 10px;
}
#addOrder{
	margin-top: 10px;
	margin-left: 20px;
}
#morePizza{
	display:none;
}
#confirmOrder{
	display:none;
	margin-left:30px;
	margin-top:82px;
}
#orderModal{
	background-color: ##474a4f .5;
}
