body {
	background: #492302 url(../img/bkg.jpg) repeat-x fixed;
	font-style: normal;
  height: 100%;
}
html{
  height: 100%;
}
h1 {
	color: #f5be56;
	font: bold 36px/38px Georgia, "Times New Roman", Times, serif;
  /*position:absolute;*/
	margin-left: 42px;
	margin-top: 35px;
	text-shadow: #5d260d 0 1px 2px;
}

h3 {
	color: #f5be56;
	margin-left: 42px;
	margin-top: 35px;
	text-shadow: #5d260d 0 1px 2px;
}

#pizzaForm {
	display:none;
  font-weight: bold;
  font-size:25px
}

#pizzaSize {
	float:left;
  width:35%;
  margin:10px;
}

#pizzaCrust {
  float:left;
  width:35%;
  margin:10px;
}

#pizzaVeggieToppings{
	color: white;
	font-size: 20px;
	float:left;
  width:30%;
  margin-left:5%;
}
#pizzaMeatToppings {
	color: white;
	font-size: 20px;
  float:left;
  width:30%;
  margin-left:5%
}

#meatToppingsDisplay{
	color:white;
	float:none;
	width:23%;
	margin:10px;
}

#notToppingsDisplay{
	color:white;
	float:left;
	width:23%;
	margin:10px;
}

#pizzaPrice{
	float:left;
	width:20%;
	background-color: white;
	border-radius: 20px;
	margin-left: 5%;
}

#addOrder{

}
